
#myMenu {
	height: 16px;
	padding: 2px;	
	font-size: 14px;
	cursor: pointer;
	border: 1px solid #d5d5d5;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
}

#myMenu-list {
	background: #fff;
	border: 1px solid #d5d5d5;
	border-top: 0px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	-moz-border-radius-bottomleft: 3px;
	-moz-border-radius-bottomright: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	display: none;
	padding-left: 2px;
	padding-bottom: 2px;
	padding-top: 2px;
	margin-top: 0px;
}

#myMenuArrow {
	height: 20px;
	margin-top: -2px;
	margin-right: -2px;
	width: 16px;
	background: url(images/arrow.png);
	float: right;
	border-top-right-radius: 3px;
	-moz-border-radius-topright: 3px;
	-webkit-border-top-right-radius: 3px;

}

#myMenu-list li {
	list-style: none;
	padding-bottom: 2px;
	font-size: 13px;
	padding-left: 5px;
}